@media (min-width: 1399.98px) {
}
@media (min-width: 1199.98px) {
}
@media (min-width: 1023.98px) {
}
@media (min-width: 991.98px) {
}
@media (min-width: 767.98px) {
}
@media (min-width: 575.98px) {
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 1023.98px) {
}
@media (max-width: 991.98px) {
  :root {
    --font-menu: 14px;
    --gap-menu: 2rem;
  }
}
@media (max-width: 767.98px) {
  :root {
    --logo-menu: 8rem;
  }
  .nav__menu {
    display: none;
  }
}
@media (max-width: 575.98px) {
}
